<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @clan.name %>
</p>

<p>
	<strong>Description</strong>
	<%= @clan.description %>
</p>

<p>
	<strong>Rank</strong>
	<%= @clan.rank %>
</p>

<%= link_to 'Edit', edit_clan_path(@clan) %> |
<%= link_to 'Back', clans_path %>
